:root {
	--primary-color: #6a64f8;
	--quote-color: #8883fb;
	--scrollbar-color: #b0adfd;
	--logo-color: #a373eb;
	--black-color: #0d0d0d;
	--dark-color: #232323;
	--grey-color: #808080;
	--foreground-color: #f8f7ff;
	--light-color: #ffffff;
	--green-color: #1fff00;
	--orange-color: #f9a520;
}
